.blue {
    background-color: lightskyblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}

.onepixel {
    border: 1px black solid
}

.threepixels {
    border: 3px black solid
}

.fivepixels {
    border: 5px black solid
}


.xsmall {
    font-size: x-small;
}

.small {
    font-size: small;
}

.large {
    font-size: large;
}

.xlarge {
    font-size: x-large;
}
