.blue {
    background-color: lightskyblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}

.onepixel {
    border: 1px black solid
}

.threepixels {
    border: 3px black solid
}

.fivepixels {
    border: 5px black solid
}